*.o
*.d
*.lst
Build/
libctrpf/debug
libctrpf/Library/.gitignore
libctrpf/Library/debug
libctrpf/Library/.vscode
libctrpf/Library/release
libctrpf/Library/libcwav
*.3gx
*.elf
*.lnk
desktop.ini
send.bat
send.py
sendpost.txt
.vscode/settings.json
libctrpf/Library/lib/libctrpf.a
libctrpf/Library/lib/libctrpfd.a
libctrpf/Library/libctrpf-.r274.tar.bz2
libctrpf/Library/libctrpf-.r277.tar.bz2
