name: Build 3GX Plugin

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm

    steps:
    - uses: actions/checkout@v4

    - name: Download 3gxtool
      run: |
        wget -O 3gxtool "https://gitlab.com/-/project/35893975/uploads/7cf27fcdc26921d9a6c5505c1e5bbcaa/3gxtool"
        chmod +x 3gxtool
        cp 3gxtool /opt/devkitpro/tools/bin/3gxtool

    - name: Clone libctrpf (develop)
      run: |
        git clone --depth=1 --branch develop https://gitlab.com/thepixellizeross/ctrpluginframework.git libctrpf

    - name: Build & Install libctrpf
      run: |
        cd libctrpf
        make

    - name: Run Language Python Script
      run: python3 LanguageBinCreator/json_to_bin.py

    - name: Build Plugin
      run: make DEVMODE=0

    - name: Package Plugin
      run: |
        mkdir -p package/Vapecord/Data/
        cp -r Files/Vapecord/Data/* package/Vapecord/Data/

        mv LanguageBinCreator/language.bin package/Vapecord/Data/language.bin
        
        for folder in 0004000000198e00 0004000000198d00 00040000004C5700 0004000000199000 0004000000086500 0004000000086400 0004000000086300 0004000000086200 0004000000198f00; do
            mkdir -p package/luma/plugins/$folder/snd
            cp Vapecord_Public.3gx package/luma/plugins/$folder/Vapecord_Public.3gx
            cp -r Files/snd/* package/luma/plugins/$folder/snd/
        done

    - name: Upload Package Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Vapecord.Public
        path: package/

    - name: Upload ELF Artifact
      uses: actions/upload-artifact@v4
      with:
        name: Vapecord.Public.elf
        path: Vapecord_Public.elf

    - name: Check For Unused Text
      run: python3 CheckForUnusedText.py

    - name: Check If Addresses Are Ported
      run: python3 CheckIfAddressesArePorted.py

    - name: Check If Text Is Translated
      run: python3 CheckIfTextIsTranslated.py

    - name: Check For Unused Addresses
      run: python3 CheckForUnusedAddresses.py




