name: Build 3GX Plugin

on:
  push:
    branches: ["master"]
  pull_request:
    branches: ["master"]

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkitarm

    steps:
    - uses: actions/checkout@v4

    - name: Download libctrpf
      run: |
        wget -O libctrpf.tar.bz2 "https://gitlab.com/-/project/35748837/uploads/8d2a3dc282f32b6a75d5f6abaeafe88f/libctrpf-0.8.0.tar.bz2"
        tar -xjf libctrpf.tar.bz2

    - name: Install libctrpf
      run: |
        mkdir -p /opt/devkitpro/libctrpf/include
        mkdir -p /opt/devkitpro/libctrpf/lib
        cp -r include/* /opt/devkitpro/libctrpf/include/
        cp -r lib/* /opt/devkitpro/libctrpf/lib/

    - name: Download 3gxtool
      run: |
        wget -O 3gxtool "https://gitlab.com/-/project/35893975/uploads/7cf27fcdc26921d9a6c5505c1e5bbcaa/3gxtool"
        chmod +x 3gxtool
        cp 3gxtool /opt/devkitpro/tools/bin/3gxtool

    - name: Build Plugin
      run: make

    - name: Run Language Python Script
      run: python3 LanguageBinCreator/json_to_bin.py

    - name: Package Plugin
      run: |
        mkdir -p package/Vapecord/Data/
        cp -r Files/Vapecord/Data/* package/Vapecord/Data/

        mv LanguageBinCreator/language.bin package/Vapecord/Data/language.bin
        
        for folder in 0004000000198e00 0004000000198d00 00040000004C5700 0004000000199000 0004000000086500 0004000000086400 0004000000086300 0004000000086200 0004000000198f00; do
            mkdir -p package/luma/plugins/$folder/snd
            cp Vapecord-ACNL-Plugin.3gx package/luma/plugins/$folder/Vapecord_Public.3gx
            cp -r Files/snd/* package/luma/plugins/$folder/snd/
        done

    - name: Upload Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Vapecord.Public
        path: package/

    - name: Check For Unused Text
      run: python3 CheckForUnusedText.py

    - name: Check If Addresses Are Ported
      run: python3 CheckIfAddressesArePorted.py

    - name: Check If Text Is Translated
      run: python3 CheckIfTextIsTranslated.py



